table, th, td {
 		 border: 1px solid black;
 		 -webkit-column-width: 100px;
		}

		table{
			margin: 0 auto;
		}

		tr.first{
			background-color: white; 
		}

		tr.second{
			background-color: skyblue;
		}

		tr.third{
			background-color: pink; 
		}

		tr.fourth{
			background-color: skyblue; 
		}

		tr.fifth{
			background-color: pink; 
		}

		h1{
			text-align: center;
			color: purple;
		}